/*Lincoln red color: #C03526;*/
#site_body{
	padding: 0;
	display: flex;
	flex-direction: column;
}
.teams{
	display: flex;
	padding: 1%;
	margin: 3%;
	margin-top: 2%;
	background-color: #d1d1d1;
	border: 2px solid #C03526;
	justify-content: space-evenly;
	padding-right: 0;
}
.team_image{
	width: 45vw;
	padding: 0.5%;
}
.team_image > img{
	height: 35vh;
	max-width: 100%;
}
.team_profile{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	height: 1%;
	margin-left: 2%;
}
.team_description{
	padding: 1%;
	display: flex;
	align-items: flex-start;
	padding-top: 0;
	font-size: 1.5vw;
}
.title{
	color: #C03526;
	font-size: 2.5vw;
	text-align: center;
	width: 100%;
	margin-top: 3%;
}
.team_members{
	width: 50vw;
	font-size: 1.5vw;
	padding: 1%;
}
.team_blurb{
	padding: 1%;
	font-size: 1.6vw;
	color: black;
}