/*Lincoln red color: #C03526;*/
#site_body{
	padding: 0;
	display: flex;
}
.teams{
	display: flex;
	flex-flow: row nowrap;
	padding: 3px;
	border: 2px solid #C03526;
}
.team_image1{
	padding: 5px;
	width: 45vw;
	display:flex;
	flex-flow: column nowrap;
}
.team_image2{	
	height: 90%;
}
.filler{
	height:100%;
}
.team_image3{
	width: 100%;
	margin: 0;
    vertical-align: middle;
	height: 100%;
}
.team_description1{
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.8vw;
}
.team_name{
	width: 100%;
	padding: 5px;
	text-align: center;
	font-size: 4vw;
	font-weight: 800;
}
.team_description2{
	padding: 5px  red;
	display: flex;
	flex-wrap: row nowrap;
}
.team_members{
	padding: 5px;
	width: 14vw;
}
.team_blurb{
	padding: 5px;
}