/*Lincoln red color: #C03526;*/
/*Start of site body setup*/
#site_body{
	padding: 0;
	display: flex;
	flex-direction: column;
}
.mentor{
	padding: 1%;
	margin: 3%;
	margin-top: 2%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #d1d1d1;
	border: 2px solid #C03526;
}
.pic{
	padding: 0;
	margin: 1%;
	width: 30vw;
	/* border: 1px solid purple; */
}
.pic > img{
	width: 30vw;
}
.list{
	padding: 0;
	margin: 1%;
	width: 60vw;
	/* border: 1px solid green; */
}
.list > h1{
	color: #C03526;
	font-size: 2.5vw;
	text-align: center;
	margin-top: 1%;
}
.list > p{
	color: black;
	font-size: 1.2vw;
	margin: 2%;
	margin-top: 1%;
}
.list > ul{
	color: black;
	font-size: 1.1vw;
	margin-left: 5%;
	margin-top: 1%;
}
/*.fade{
	position: absolute;
	opacity: 0;
	transform: translateY(-101%);
}
/*End of site body setup*/
/*Animations*/
/*.fade:hover{
	animation-name: fade;
	animation-duration: 15.0s;
}
@keyframes fade{
	from {opacity: 0}
	to {opacity: 1}
}*/