/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  
  /*Lincoln red color: #C03526;*/
  
  text-decoration: none;
  font-family:"Arial";
}
/*@font-family{
 Whatever font that Max wants
}*/
body{
	background-color: #e5e5e5;
}
/*Start of navbar CSS*/
#nav_bar{
	display: flex;
	flex-flow: row nowrap;
	top: 0;
	position: sticky;
	width: 100%;
	background-color: #333333;
	justify-content: flex-end;
	z-index: 9999;
	animation-name: drop;
	animation-duration: 0.8s;
}
.nav_bar{
	box-sizing: border-box;
	width: 12vw;
	padding-top: 1.95vh;
	padding-bottom: 1.95vh;
	text-align: center;
	background-color: #333333;	
	transition: 0.3s ease;
	font-size: 2.2vh;
	color: white;
}
.nav_bar:hover{
	background-color: #000000;
	border-color: #000000;
	cursor: pointer;
}
#home{
	position: absolute;
	left: 0;
}
#home:hover{
	cursor: pointer;
	background-color: #333333;
	border-color: #333333;
}
/*End of navbar CSS*/
/*Start of contact info*/
#contact_info{
	bottom: 0;
	width: 100%;
	background-color: #333333;
	color: white;
	text-align: center;
	font-size: 14px;
	font-style: oblique;
	padding-top: 0.7vh;
	padding-bottom: 0.7vh;
}
#email, #phone{
	text-decoration: underline;
	color: white;
}
/*End of contact info*/
/*Animations*/
@keyframes drop{
	from {transform: translateY(-100%); opacity: 0}
	to {transform: translateY(0%); opacity: 1}
}
@keyframes appear{
	from {transform: translateY(-8vw); opacity: 0}
	to {transform: translateY(0vw); opacity: 1}
}
@keyframes visibilize{
	from {opacity: 0}
	to {opacity: 1}
}
.animated{
	opacity: 0;
	animation-name: appear;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
}
.visible{
	opacity: 0;
	animation-name: visibilize;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
}