/*Lincoln red color: #C03526;*/
/*Start of site body setup*/
#site_body{
	padding: 0;
	display: flex;
	justify-content: space-between;
}
#Home{
	width: 85%;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 3%;
}
.sidebar{
	width: 10%;
	padding: 1%;
	border-right: 1px solid gold;
	text-align: left;
}
#tips_and_tricks{
	font-size: 2vw;
	font-weight: 600;
}
#tip_or_trick{
	font-size: 1.2vw;
}
/*End of site body setup*/
/*Start of slideshow CSS*/
#slideshow{
	width: 50vw;
	position: relative;
	margin: auto;
	margin-top: 5vh;
}
.slide_image{
	display: none;
}
#prev, #next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
#next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
#prev:hover, #next:hover{
	opacity: 0.8;
	background-color: #C03526;
}
.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.imagebg{
	width: 100%;
	height: 33.75vw;
	background-color: #4c4c4c;
	display: flex;
	justify-content: center;
	align-items: center;
}
.active, .dot:hover{
	background-color: #717171;
}
/*End of slideshow CSS*/
/*Start of text CSS*/
#introText{
	text-align: center;
	font-size: 3vw;
	color: #C03526;
}
#calendarText{
	font-size: 1.2vw;
	padding-left: 17vw;
}
/*End of text CSS*/
/*Animations*/
.fade{
	animation-name: fade;
	animation-duration: 1.0s;
}
@keyframes fade{
	from {opacity: .5}
	to {opacity: 1}
}