/*Lincoln red color: #C03526;*/
#site_body{
	padding: 0;
	display: flex;
}
.teams{
	display: flex;
	flex-flow: row nowrap;
	padding: 3px;
	border: 2px solid #C03526;
}
.team_image1{
	padding: .5%;
	width: 35%;
	display:flex;
	flex-flow: column nowrap;
}
.team_image2{	
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.team_image3{
	width: 100%;
	margin: 0;
    vertical-align: middle;
	height: 100%;
}
img{
	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}
.team_profile{
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.8vw;
}
.team_name{
	width: 100%;
	padding: 5px;
	text-align: center;
	font-size: 4vw;
	font-weight: 800;
}
.team_description{
	padding: 5px;
	display: flex;
	flex-wrap: row nowrap;
}
.team_members{
	padding:1%;
	width: auto;
}
.team_blurb{
	padding:1%;
}