#site_body{
	display: flex;
	flex-flow: row nowrap;
}
h1{
	text-align: center;
}
.box{
	border: 2px solid #C03526;
	margin: 1.5vh;
	padding: 1.5vh;
}
#container{
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	height: 90vh;
	overflow:scroll;
}
#ThreeD_files{
	background-color: #d1d1d1;
	height: 90vh;
}
#Scout_files{
	background-color: #d1d1d1;
	height: 90vh;
}
#Events{
	background-color: #d1d1d1;
	width: 100%;
	height:83.5vh;
	overflow:scroll;
}
h1{
	text-align:center;
	font-size: 3vw;
}
.box{
	border: 2px solid #C03526;
	margin: 1.5vh;
	padding: 1.5vh;
}
.button{
	background-color: white;
	color: black;
}
.button:hover{
	background-color: #d1d1d1;
}
.button:active{
	background-color: #C03526;
}
.text{
	color: black;
	font-size: 1.2vw;
}
#site_body h1{
	color: #C03526;
	font-size: 2.5vw;
}
