body{
	overflow-x: hidden;
}

/*Lincoln red color: #C03526;*/
/*Start of site body setup*/
#site_body{
	padding: 0;
	display: flex;
	justify-content: space-between;
	user-select: none;
}
#Home{
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 10%;
}
.sidebar{
	width: 10%;
	padding: 1%;
	border-right: 1px solid gold;
	text-align: left;
	animation-name: slide;
	animation-duration: 1s;
	animation-delay: 1.2s;
	animation-fill-mode: forwards;
	/*animation-timing-function: cubic-bezier(0.30, 1.3, 0.50, 1.1);*/
	transform: translateX(-99%);
}
#tips_and_tricks{
	font-size: 1.5vw;
	font-weight: 100;
}
#tip_or_trick{
	font-size: 1.2vw;
}
/*End of site body setup*/
/*Start of slideshow CSS*/
#slideshow{
	width: 50vw;
	position: relative;
	margin: auto;
	margin-top: 5vh;
}
.slide_image{
	display: none;
}
#prev, #next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
#next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
#prev:hover, #next:hover{
	opacity: 0.8;
	background-color: #C03526;
}
.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.imagebg{
	width: 100%;
	height: 33.75vw;
	background-color: #4a4a4a;
	display: flex;
	justify-content: center;
	align-items: center;
}
.active, .dot:hover{
	background-color: #717171;
}
/*End of slideshow CSS*/

/*Oh my god... Is that the zone?*/

#zone{
	position: absolute;
	background-color: #f1f1f1;
	text-align: center;
	height: 100px;
	width: 100px;
	top: 50%;
	left: 100%;
	transform: translate(-100%, -50%);
	z-index: 10000;
	padding: 0;
	cursor: pointer;
}
#zoneheader{
	color: #aaa;
}
#zonefollow{
	height: 100%;
	width: 100%;
	left: 100%;
	top: 50%;
	transform: translateY(-50%);
	background-color: #f1f1f1;
	position: absolute;
	z-index: 10000;
}

/*Yes, it's the zone*/

/*Start of text CSS*/
#introText{
	text-align: center;
	font-size: 3vw;
	color: #C03526;
}
#calendarText{
	font-size: 1.2vw;
	padding-left: 17vw;
}
/*End of text CSS*/
/*Animations*/
.fade{
	animation-name: fade;
	animation-duration: 1.0s;
}
@keyframes fade{
	from {opacity: .5}
	to {opacity: 1}
}
@keyframes slide{
	0%{transform: translateX(-99%)}
	100%{transform: translateX(0%)}
}
/*End of animations*/
/* If the screen size is 767px wide or less */
@media only screen and (max-width: 767px) {
	.dot{
		height: 5px;
		width: 5px;
	}
  }